<div id="<%= dom_id order_receipt %>">
  <p>
    <strong>Medical name:</strong>
    <%= order_receipt.medical_name %>
  </p>

  <p>
    <strong>Gst:</strong>
    <%= order_receipt.Gst %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= order_receipt.Email_address %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= order_receipt.Time %>
  </p>

</div>
