<div id="<%= dom_id order %>">
  <p>
    <strong>Receipt:</strong>
    <%= order.receipt %>
  </p>

  <p>
    <strong>Medical name:</strong>
    <%= order.medical_name %>
  </p>

  <p>
    <strong>Gst:</strong>
    <%= order.Gst %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= order.Email_address %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= order.Time %>
  </p>

</div>
